USE [master]
GO
/****** Object:  Database [hiper_card5]    Script Date: 6/11/2025 10:29:57 ******/
CREATE DATABASE [hiper_card5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hiper_card5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\hiper_card5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hiper_card5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\hiper_card5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hiper_card5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hiper_card5]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 6/11/2025 10:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_ventas]    Script Date: 6/11/2025 10:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_ventas](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_venta] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Envios]    Script Date: 6/11/2025 10:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envios](
	[id_envio] [int] IDENTITY(1,1) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[num_telefono] [int] NOT NULL,
	[CP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_envio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 6/11/2025 10:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_pago] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 6/11/2025 10:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[stock] [int] NOT NULL,
	[descripcion] [varchar](700) NOT NULL,
	[id_categoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/11/2025 10:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id_rol] [int] NOT NULL,
	[rol] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 6/11/2025 10:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [varchar](30) NOT NULL,
	[contraseña] [varchar](255) NOT NULL,
	[email] [varchar](40) NOT NULL,
	[nombre] [varchar](40) NOT NULL,
	[apellido] [varchar](40) NOT NULL,
	[id_rol] [int] NOT NULL,
	[foto_perfil] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 6/11/2025 10:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_envio] [int] NOT NULL,
	[id_pago] [int] NOT NULL,
	[fecha] [datetime] NULL,
	[total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([id_categoria], [nombre]) VALUES (1, N'carnes')
INSERT [dbo].[Categorias] ([id_categoria], [nombre]) VALUES (2, N'lacteos')
INSERT [dbo].[Categorias] ([id_categoria], [nombre]) VALUES (3, N'snacks')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_ventas] ON 

INSERT [dbo].[Detalle_ventas] ([id_detalle], [id_venta], [id_producto], [cantidad], [precio_unitario], [subtotal]) VALUES (1, 1, 12, 5, CAST(1000.98 AS Decimal(10, 2)), CAST(5004.90 AS Decimal(10, 2)))
INSERT [dbo].[Detalle_ventas] ([id_detalle], [id_venta], [id_producto], [cantidad], [precio_unitario], [subtotal]) VALUES (2, 2, 22, 4, CAST(1500.00 AS Decimal(10, 2)), CAST(6000.00 AS Decimal(10, 2)))
INSERT [dbo].[Detalle_ventas] ([id_detalle], [id_venta], [id_producto], [cantidad], [precio_unitario], [subtotal]) VALUES (3, 3, 15, 2, CAST(1200.00 AS Decimal(10, 2)), CAST(2400.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Detalle_ventas] OFF
GO
SET IDENTITY_INSERT [dbo].[Envios] ON 

INSERT [dbo].[Envios] ([id_envio], [direccion], [num_telefono], [CP]) VALUES (1, N'paso 129', 21156546, 121)
INSERT [dbo].[Envios] ([id_envio], [direccion], [num_telefono], [CP]) VALUES (2, N'paso 129', 21156546, 121)
INSERT [dbo].[Envios] ([id_envio], [direccion], [num_telefono], [CP]) VALUES (3, N'paso 129', 21156546, 121)
SET IDENTITY_INSERT [dbo].[Envios] OFF
GO
SET IDENTITY_INSERT [dbo].[Pagos] ON 

INSERT [dbo].[Pagos] ([id_pago], [Tipo_pago]) VALUES (1, N'debito')
INSERT [dbo].[Pagos] ([id_pago], [Tipo_pago]) VALUES (2, N'credito')
INSERT [dbo].[Pagos] ([id_pago], [Tipo_pago]) VALUES (3, N'transferencia')
SET IDENTITY_INSERT [dbo].[Pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (1, CAST(1000.00 AS Decimal(10, 2)), N'Leche clasica', 15, N'1 litro 1. leche Clásica serenísima,  está fortificada con vitaminas A y D, tiene un tenor graso del 3% y es apta para celíacos.', 2)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (2, CAST(5000.00 AS Decimal(10, 2)), N'Asado', 7, N'Tira de asado de 1 kg. Carne de vaca 100% vacunado', 1)
INSERT [dbo].[Productos] ([id_producto], [precio], [nombre], [stock], [descripcion], [id_categoria]) VALUES (3, CAST(300.25 AS Decimal(10, 2)), N'Tita', 30, N'envase 19grs. Tita es una galleta de oblea rellena con crema sabor limón y bañada en chocolate semiamargo.', 6)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
INSERT [dbo].[Roles] ([id_rol], [rol]) VALUES (1, N'Empleado')
INSERT [dbo].[Roles] ([id_rol], [rol]) VALUES (2, N'Cliente')
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id_usuario], [nombre_usuario], [contraseña], [email], [nombre], [apellido], [id_rol], [foto_perfil]) VALUES (1, N'cliente_prueba', N'password', N'willy', N'rex', N'nuevo@gmail.com', 2, NULL)
INSERT [dbo].[Usuarios] ([id_usuario], [nombre_usuario], [contraseña], [email], [nombre], [apellido], [id_rol], [foto_perfil]) VALUES (2, N'empleado_prueba', N'5678', N'jhon', N'smith', N'nuevoempleado@gmail.com', 1, NULL)
INSERT [dbo].[Usuarios] ([id_usuario], [nombre_usuario], [contraseña], [email], [nombre], [apellido], [id_rol], [foto_perfil]) VALUES (1002, N'adachi', N'$2y$10$SXsjxbbcmAQyqhnO0Si8c.OEtheRxTFjPo8F8/ZVCY/NpDMT/ozIy', N'adachi@gmail.com', N'tohru', N'adachi', 1, N'https://res.cloudinary.com/hipercard/image/upload/v1762177016/uptfaybbuzvlma2rpyoh.jpg')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([id_venta], [id_usuario], [id_envio], [id_pago], [fecha], [total]) VALUES (1, 1002, 1, 2, CAST(N'2025-11-03T17:19:08.000' AS DateTime), CAST(5004.90 AS Decimal(10, 2)))
INSERT [dbo].[Ventas] ([id_venta], [id_usuario], [id_envio], [id_pago], [fecha], [total]) VALUES (2, 1002, 2, 2, CAST(N'2025-11-03T17:26:15.290' AS DateTime), CAST(6000.00 AS Decimal(10, 2)))
INSERT [dbo].[Ventas] ([id_venta], [id_usuario], [id_envio], [id_pago], [fecha], [total]) VALUES (3, 1002, 3, 2, CAST(N'2025-11-03T17:51:54.010' AS DateTime), CAST(8300.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Detalle_ventas]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id_producto])
GO
ALTER TABLE [dbo].[Detalle_ventas]  WITH CHECK ADD FOREIGN KEY([id_venta])
REFERENCES [dbo].[Ventas] ([id_venta])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categorias] ([id_categoria])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[Roles] ([id_rol])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([id_envio])
REFERENCES [dbo].[Envios] ([id_envio])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([id_pago])
REFERENCES [dbo].[Pagos] ([id_pago])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
USE [master]
GO
