*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif
}

a{
    text-decoration: none !important;
    color: #2da82d !important;
}

.btnbuscar{
    background-color: green;
    border-radius: 10px;
    width: 70px;
    border: none;

}


.btnbuscar:hover{
    background-color: #2da82d;
    color: white;
}
.header{
    background-color: #2da82d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
}

.header .logo img{ 
    height: 70px;
    width: auto;
}

.header .titulo_pagina a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header .search_box{
    display: flex;
    margin: auto;
    height: 45px; /*altura*/
    line-height: 35px;
   

}

.header .search_box input{
    border: none;
    border-radius: 10px;
    padding: 10px
}

.header .nav-link{
    list-style: none; /*para quitar los puntitos de la lista*/
}

.header .nav-link li{
    display: inline-block; /*para que ser forme en horizontal*/
    padding: 15px; /*separar los botones*/
}

.nav-opciones-categorias{
    margin: auto; 
    padding: 0.5rem 1.5rem; /*separar los botones*/
    border-radius: 10px;
    list-style: none;
}

.nav-opciones-categorias .nav-link-lista {
    display: flex; /*para que ser forme en horizontal y hacer menu de los botones*/
    gap: 30px;
}


.nav-opciones-categorias .nav-link, .nav-menu, .nav-link-departamentos {
    padding: 5px; /*separar los botones*/
    list-style: none;
    cursor: pointer;
    
}


.nav-opciones-categorias a{
    text-decoration: none;
    color: currentColor;
}

.nav-opciones-categorias .nav-link-departamentos {
    background-color: blue;
    border-radius: 5px;
    color: white;
    
}

.nav-opciones-categorias .nav-menu{
    position: absolute;
    line-height: 1.5;
    padding: 1.5rem;
    margin: 0.2rem -0.1rem;
    list-style: none;
    background-color: gray;
    border-radius: 10px;
    display: none;
}

.nav-opciones-categorias .nav-link:hover{
    background-color: rgb(21, 184, 21);
    color: white;
    border-radius: 5px;
}
.nav-opciones-categorias .nav-link-departamentos:hover{
    background-color: rgb(230, 122, 14);
    color: white;
}

.nav-opciones-categorias  .nav-menu-opciones{
    padding:0 0 20px 0;
}

.nav-opciones-categorias .nav-menu a{
    padding-top: 10px;
}

.nav-link-departamentos:hover .nav-menu{
    display: block;
}

/* Sección de direccion_departamentos */
.direccion_departamentos {
    padding: 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.direccion_departamentos_seleccion {
    display: flex;
    align-items: center;
}

.ruta {
    display: flex;
    align-items: center;
}

.ruta_item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ruta_link {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

.ruta_separador {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #888;
}

/* Iconos y flechas */
.ruta_icono,
.ruta_flecha {
    fill: currentColor;
}


/* Contenedor principal para alinear aside y ajustar_la_busquedar */
.contenido_principal{
    gap: 2rem; /* Espacio entre el aside y el contenedor de productos */
    padding: 1.5rem;
}

/* Estilo para el aside */
.aside {
    background-color: #f4f4f4;
    padding: 1.5rem;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-left: 200px;
}

.barra_departamentos h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.barra_departamentos ul {
    list-style: none;
    padding: 0;
}

.barra_departamentos ul li {
    font-size: 1.2rem;
    cursor: pointer;
    color: #555;
    text-align: center;
    border-left: 1px solid #ddd;
    padding-left: 15px;
    padding-right: 15px;
    transition: color 0.3s;
}

.barra_departamentos ul li:hover {
    color: #007bff;
}

/* Estilo para el contenedor de productos */
.ajustar_la_busquedar {
    flex-grow: 1;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-right: 100px;

}

.producto_cantidad_resultado {
    display: flex;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    width: 100%;
    justify-content:space-between;
}

.cantidad_total {
    font-weight: bold;
    color: #333;
}

.forma_selecionar{
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.productos_cartas_disponible {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.columna {
    background-color: #f8f8f8;
    padding: 1rem;
    border: 1.5px solid transparent; /* Borde inicial */
    transition: border-color 0.3s ease;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 230px;
}

.columna:hover {
    border-color: rgb(2, 179, 2); /* Color verde cuando se pasa el cursor encima */
}

.cuerpo_de_la_carta img {
    max-width: 100%;
    border-radius: 8px;
}

.nombre_del_producto-h2 {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
}

.precio_producto-p {
    font-size: 1.2rem;
    color: #28a745;
    font-weight: bold;
}

.btn-add-cart{
    display: inline-block;
    font-size: 17px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-add-cart:hover {
    background-color: #0056b3;
}

/*para el nuevo*/


/**/
.añadir_carro a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.añadir_carro a:hover {
    background-color: #0056b3;
}

/*nuevo estilo logo tienda*/
/*Estilos nuevos*/


.container-icon{
    position: relative;
}
.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}
.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}
.icon-cart:hover{
    cursor: pointer;
}
.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}
.hidden-cart{
    display: none;
}
.hidden{
    display: none;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}
.cart-empty{
    padding: 20px;
    text-align: center;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}
 
/*fin del logo*/

.footer {
    background-color: #d6d6d6;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido_extra {
    width: 80%;
    max-width: 1200px;
    text-align: center;
}

.titulo_categoria {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
}

.cuadro_extra {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Reduce el espacio entre las listas */
}

.categoria_extra {
    width: 150px; /* Ancho fijo para las listas */
}

.lista_categoria {
    list-style: none;
    padding: 0;
}

.lista_categoria li {
    font-size: 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    color: rgb(110, 110, 110);
}

.lista_categoria li:hover {
    color: #333;
    text-decoration: underline;
}