*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*barra de busqueda*/

.btn-comprar {
    background-color: #28a745;
    color: white;
    padding: 8px 16px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.btn-comprar:hover {
    background-color: #218838;
}



.button{
    background-color: white; 
    border: 1px solid #2da82d;
    border-radius: 10px;
    color: #2da82d; 
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 14px 50px; /*tamaño del boton*/

}

.btnbuscar{
    background-color: green;
    width: 70px;
    border: none;
    border-top-right-radius: 10px;
    border-end-end-radius: 10px;
}


.btnbuscar:hover{
    background-color: #2da82d;
    color: white;
}
.header{
    background-color: #2da82d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
}

.header .logo img{ 
    height: 60px;
    width: auto;
}

.header .titulo_pagina a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header .titulo_pagina a h4{
    color: #fff;
    padding-left: 10px;
}

.header .search_box{
    display: flex;
    margin: auto;
    height: 45px; /*altura*/
    line-height: 35px;
   

}

.header .search_box input{
    width: 35vw;
    border-top-left-radius: 10px;
    border-end-start-radius: 10px;
    border: none;
    padding: 10px
}

/*--------------------*/

.header{
    background-color: #2da82d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
    
}

.header .titulo_pagina a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header .logo img{ 
    height: 70px;
    width: auto;
}


.header .nav-link{
    list-style: none; /*para quitar los puntitos de la lista*/
}

.header .nav-link li{
    display: inline-block; /*para que ser forme en horizontal*/
    padding: 15px; /*separar los botones*/
}

.mani{
    font-size: 20px;
    height: 50px;
}

.nav-opciones-categorias{
    margin: auto; 
    padding: 0.5rem 1.5rem; /*separar los botones*/
    border-radius: 10px;
    list-style: none;
}

.nav-opciones-categorias .nav-link-lista {
    display: flex; /*para que ser forme en horizontal y hacer menu de los botones*/
    gap: 30px;
}


.nav-opciones-categorias .nav-link, .nav-menu, .nav-link-departamentos {
    padding: 5px; /*separar los botones*/
    list-style: none;
    cursor: pointer;
}


.nav-opciones-categorias a{
    text-decoration: none;
    color: currentColor;
}

.nav-opciones-categorias .nav-link-departamentos {
    background-color: blue;
    border-radius: 5px;
    color: white;
}

.nav-opciones-categorias .nav-menu{
    position: absolute;
    line-height: 1.5;
    padding: 1.5rem;
    margin: 0.2rem -0.1rem;
    list-style: none;
    background-color: gray;
    border-radius: 10px;
    display: none;
}

.nav-opciones-categorias .nav-link:hover{
    background-color: green;
    color: white;
    border-radius: 5px;
}
.nav-opciones-categorias .nav-link-departamentos:hover{
    background-color: rgb(230, 122, 14);
    color: white;
}

.nav-opciones-categorias  .nav-menu-opciones{
    padding:0 0 20px 0;
}

.nav-opciones-categorias .nav-menu a{
    padding-top: 10px;
}

.nav-link-departamentos:hover .nav-menu{
    display: block;
}

/* Sección de direccion_departamentos */
.direccion_departamentos {
    padding: 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.direccion_departamentos_seleccion {
    display: flex;
    align-items: center;
}

.ruta {
    display: flex;
    align-items: center;
}

.ruta_item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ruta_link {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

.ruta_separador {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #888;
}

/* Iconos y flechas */
.ruta_icono,
.ruta_flecha {
    fill: currentColor;
}
.paraproducto{
    display: flex;
    justify-content: space-around;    

}
.paraminiproducto{
    width: 100px;
    height: 100px;
    margin-left: 0px;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
}
.imagen_click{
    cursor: pointer;
    border-radius: 5px;
}

.imagen-seleccionada {
    border: 1px solid #51b351; /* Borde azul para la imagen seleccionada */
    border-radius: 5px;
}

.separacionminiproducto{
    padding-top: 20px;
}

.para_la_foto{
    width: 550px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 25px 5px rgba(40, 145, 40, 0.671);
}

.para_la_informacion{
    width: 550px;
    height: 550px;
    border-radius: 20px;
    padding: 50px;
    background-color: #fff;
    color: #383838;
    box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.12);
}

.para_la_informacion_titulo{
    font-size: 40px;
}

.para_la_informacion_precio{
    margin-top: 20px;
    font-size: 20px;
}

.button_comprar {
    background-color: white; 
    border: 1px solid #2da82d;
    border-radius: 10px;
    color: #2da82d; 
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 14px 50px; /*tamaño del boton*/
}
.button_comprar:hover{
    background-color: #2da82d;
    color: white;
}
.descripcion_texto{
    font-size: 30px;
}
.para_la_informacion_descripcion{
    margin-top: 20px;
    font-size: 20px;
}

.contenido_extra{
    height: 300px;
}
.categoria_extra{
    padding-top: 50px;
    margin-left: 50px;
}

.footer {
    margin-top: 85px;
    background-color: #d6d6d6;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido_extra {
    width: 80%;
    max-width: 1200px;
    text-align: center;
}

.titulo_categoria {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
}

.cuadro_extra {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Reduce el espacio entre las listas */
}

.categoria_extra {
    width: 150px; /* Ancho fijo para las listas */
}

.lista_categoria {
    list-style: none;
    padding: 0;
}

.lista_categoria li {
    font-size: 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    color: rgb(110, 110, 110);
}

.lista_categoria li:hover {
    color: #333;
    text-decoration: underline;
}

/*carro*/


.container-icon{
    position: relative;
}
.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}
.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}
.icon-cart:hover{
    cursor: pointer;
}
.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}
.hidden-cart{
    display: none;
}
.hidden{
    display: none;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}
.cart-empty{
    padding: 20px;
    text-align: center;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}
 

.añadir_carro a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.añadir_carro a:hover {
    background-color: #0056b3;
}
