*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #7fffd4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
}

.header .logo img{ 
    height: 70px;
    width: auto;
}

.header .search_box{
    display: flex;
    margin: auto;
    height: 35px; /*altura*/
    line-height: 35px;
}

.header .search_box input{
    border: 0.1px;
    border-style: solid;
    border-radius: 6px;
    padding: 5px
}

.header .nav-link{
    list-style: none; /*para quitar los puntitos de la lista*/
}

.header .nav-link li{
    display: inline-block; /*para que ser forme en horizontal*/
    padding: 15px; /*separar los botones*/
}

.mani{
    font-size: 20px;
    height: 50px;
}

.nav-opciones-categorias{
    margin: auto; 
    padding: 0.5rem 1.5rem; /*separar los botones*/
    border-radius: 10px;
    list-style: none;
}

.nav-opciones-categorias .nav-link-lista {
    display: flex; /*para que ser forme en horizontal y hacer menu de los botones*/
    gap: 30px;
}


.nav-opciones-categorias .nav-link, .nav-menu, .nav-link-departamentos {
    padding: 5px; /*separar los botones*/
    list-style: none;
    cursor: pointer;
}


.nav-opciones-categorias a{
    text-decoration: none;
    color: currentColor;
}

.nav-opciones-categorias .nav-link-departamentos {
    background-color: blue;
    border-radius: 5px;
    color: white;
}

.nav-opciones-categorias .nav-menu{
    position: absolute;
    line-height: 1.5;
    padding: 1.5rem;
    margin: 0.2rem -0.1rem;
    list-style: none;
    background-color: gray;
    border-radius: 10px;
    display: none;
}

.nav-opciones-categorias .nav-link:hover{
    background-color: green;
    color: white;
    border-radius: 5px;
}
.nav-opciones-categorias .nav-link-departamentos:hover{
    background-color: rgb(230, 122, 14);
    color: white;
}

.nav-opciones-categorias  .nav-menu-opciones{
    padding:0 0 20px 0;
}

.nav-opciones-categorias .nav-menu a{
    padding-top: 10px;
}

.nav-link-departamentos:hover .nav-menu{
    display: block;
}

.dirreciones_de_departamentos{
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.paraproducto{
    display: flex;
    justify-content: space-around;    

}
.paraminiproducto{
    width: 100px;
    height: 100px;
    margin-left: 0px;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
}
.imagen_click{
    cursor: pointer;
}

.imagen-seleccionada {
    border: 3px solid #7fffd4; /* Borde azul para la imagen seleccionada */
}

.separacionminiproducto{
    padding-top: 20px;
}

.para_la_foto{
width: 550px;
height: 550px;
background-color: gray;
display: flex;
align-items: center;
justify-content: center;
}

.para_la_informacion{
    width: 550px;
    height: 550px;
    margin-left: 50px;
    background-color: rebeccapurple;

    }
.para_la_informacion_titulo{
    margin-left: 10px;
    font-size: 80px;
}

.para_la_informacion_precio{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 50px;
}

.button_comprar {
    background-color: white; 
    border: 2px solid #04AA6D;
    border-radius: 10px;
    color: black; 
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 14px 50px; /*tamaño del boton*/
}
.button_comprar:hover{
    background-color: #04AA6D;
    color: white;
}
.descripcion_texto{
    margin-left: 30px;
    font-size: 40px;
}
.para_la_informacion_descripcion{
    margin-left: 30px;
    font-size: 20px;
}

.contenido_extra{
    height: 300px;
}
.categoria_extra{
    padding-top: 50px;
    margin-left: 50px;
}