body{
    margin: 0;
    background-image: url(img_carrito.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  form {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 100px; 
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    box-shadow: 0 5px 12px 20px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700 !important;
  }

  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    text-align: center;
    color: rgba(0, 0, 0, 0.705);
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"]
  
  {
    width: 100%;
    padding: 15px;
    border: 1px solid #e7e7e7;
    border-width: 1px;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: 0.5s;
    outline:none!important;
  }

  input:hover{
    border: 1px solid #0051ffbd;
  }
  
  input:active{
    border: 1px solid #0051ffbd;
  }
  
  
  .form-group button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    background-color: #101010;
    color: #ffffff;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
  }

  .link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin: 20px 0px;
  }
  
  .form-group.button-class {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button{
    transition: 0.3s;
  }
  
  .form-group button a {
    text-decoration: none;
    color: #000000;
  }
  
  .form-group button:hover {
    background-color: #383838;
  }
  
  .form-group button:active {
    background-color: #383838;
  }